In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
# getting dataset

df = pd.read_csv("/content/mushrooms.csv")

In [3]:
df.shape

(8124, 23)

In [4]:
df.head()

  class cap-shape cap-surface  ... spore-print-color population habitat
0     p         x           s  ...                 k          s       u
1     e         x           s  ...                 n          n       g
2     e         b           s  ...                 n          n       m
3     p         x           y  ...                 k          s       u
4     e         x           s  ...                 n          a       g

[5 rows x 23 columns]

In [5]:
le = LabelEncoder()

In [6]:
df_encoded = df.apply(le.fit_transform, axis=0)

In [7]:
df_encoded.head()

   class  cap-shape  cap-surface  ...  spore-print-color  population  habitat
0      1          5            2  ...                  2           3        5
1      0          5            2  ...                  3           2        1
2      0          0            2  ...                  3           2        3
3      1          5            3  ...                  2           3        5
4      0          5            2  ...                  3           0        1

[5 rows x 23 columns]

In [8]:
df = df_encoded.values

In [9]:
X = df[: ,1:]
X

array([[5, 2, 4, ..., 2, 3, 5],
       [5, 2, 9, ..., 3, 2, 1],
       [0, 2, 8, ..., 3, 2, 3],
       ...,
       [2, 2, 4, ..., 0, 1, 2],
       [3, 3, 4, ..., 7, 4, 2],
       [5, 2, 4, ..., 4, 1, 2]])

In [10]:
y = df[: ,0]
y

array([1, 0, 0, ..., 0, 1, 0])

In [11]:
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Posterior Probability
  ##Likelyhood
  ##Prior Probability

In [12]:
# Prior Probability

def prior_probab(y_train, label):
  m = y_train.shape[0]
  s = np.sum(y_train == label)
  return m/s

In [66]:
def cond_probab(X_train, y_train, feature_col, feature_val, label):
  X_filtered = X_train[y_train == label]
  num = np.sum(X_filtered[:, feature_col] == feature_val)

  denom = X_filtered.shape[0]

  return float(num/denom)

In [61]:
def predict(X_train, y_train, X_test):
  classes = np.unique(y_train)
  n_features = X_train.shape[1]
  posterior_probab = []

  for label in classes:
    likelyhood = 1.0
    for fea in range(n_features):
      cond = cond_probab(X_train, y_train, fea, X_test[fea], label)
      likelyhood = likelyhood * cond
    prior = prior_probab(y_train, label)
    post = likelyhood * prior

    posterior_probab.append(post)

    pred = np.argmax(posterior_probab)

    return pred

In [62]:
def accuracy(X_train, y_train, X_test, y_test):
  pred = []

  for i in range(X_test.shape[0]):
    p = predict(X_train, y_train, X_test[i])
    pred.append(p)
  
  y_pred = np.array(pred)
  acc = np.sum(y_pred == y_test) / y_pred.shape[0]

  return acc

In [ ]:
acc = accuracy(X_train, y_train, X_test, y_test)

In [67]:
acc*100

99.63076923076923